<!DOCTYPE html>
<html>
  <head>
   <script src="https://kit.fontawesome.com/75f3b4e53f.js" crossorigin="anonymous"></script>
  <script src="jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/postwrapper.css">
  <link rel="stylesheet" href="css/content.css">
  <link href="https://fonts.googleapis.com/css?family=Candal|Lilita+One|Lora&display=swap" rel="stylesheet">

  <title> <%= yield(:title)%> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <div class="logo">
      <h1 class="logo-text"><span>Blog</span>Tatarina</h1>
    </div>
    <i class="fas fa-bars menu"></i>
    <ul class="naw">
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <!--<li><a href="#">Sign Up</a></li>
      <li><a href="#">Login</a></li> -->
      <li><a href="#">
        <i class="fas fa-user-tie"></i>
        Shamil Khastiev
        <i class="fas fa-angle-down"></i>
        </a>
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#" class="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </header>
  
    <%= yield %>
  </body>
</html>
